@using Orchard.ContentManagement;
@using Orchard.Core.Contents;
@using Orchard.Core.Common.Models;
@using Newtonsoft.Json;

@{
    ContentItem contentItem = (ContentItem)Model.ContentItem;
    BodyPart bodyPart = contentItem.As<BodyPart>();
    string escapedContent = Newtonsoft.Json.JsonConvert.SerializeObject(bodyPart.Text);    
}


@if (AuthorizedFor(Permissions.EditContent) && Model.ContentItem.Id > 0)
{
    using (Script.Foot())
    {
        <script type="text/javascript">
    console.log('at the time of adding this is dirtyparts:' + myIEPageVM.dirtyParts().length);
    var bp =  giveMeABodyPart(@contentItem.Id, '@escapedContent', 'bodyPart');
            
            myIEPageVM.parts().push(bp);
        </script>
    };
    
    <div class="inline-editing-content-control" data-bind="visible: editorMode">
        <ul class="actions-controls" data-bind="with : myIEPageVM.parts[0]">
            <li><i class="icon-pencil icon-border" style="color:green;"></i></li>
            <li><p data-bind="visible: isDirty">...</p></li>
        </ul>
    </div>

    <div class="inline-editing-body-control">
        <div class="mce_BodyPart_@contentItem.Id" id="mce_BodyPart_@contentItem.Id">
            @Model.Html
        </div>
    </div>
}
else
{
    @Model.Html
}