@using System.Web.Mvc;
@if (WorkContext.CurrentUser != null)
{
    <div id="inline-user" >
        @* We use nav here instead of a div because of a unwanted behavior in dropit.
            It hides the full top bar instead of hiding the submenu only. *@
        <nav>
            <a href="#"><i class="icon-user"></i>@Html.ItemDisplayText(WorkContext.CurrentUser)</a>
            <ul>               
                <li>
                    <a href="@Url.Action("LogOff", new { Controller = "Account", Area = "Orchard.Users", ReturnUrl = Context.Request.RawUrl })" rel="nofollow">
                        <i class="icon-signout"></i>  Sign Out
                    </a>
                </li>
            </ul>
        </nav>
    </div>
}



