/* This is a default for blockquotes, just to make it visible.
    Feel free to change*/
blockquote {
    border-left: 2px dotted #888;
    padding-left: 5px;
    background: #d0f0ff;
}

/* We use the ".mddialog" selector to isolate changes that we made here from other
    jQuery Dialogs or PageDown plugins that the website could have */

/* Button Bar */

.mddialog .wmd-button-bar {
    /*width: 100%;*/
    background-color: #fff;
    float:left;
    padding-top:20px;
}
a.preview-button:link,
a.preview-button:visited {
    display:block;
    float:right;
    height:27px;
    border:solid 1px #000;
    font-family: Tahoma,"Helvetica Neue",Arial,Helvetica,sans-serif;
    margin:0px;
    background-color:#333333;
    color:#fff;
    padding:6px 15px 7px 15px;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.50);    
}
a.preview-button i {
    margin-right: 4px;
}
a.preview-button:hover {
    background-color:#484b40;
    text-decoration:none;
}
a.selected-button:link,
a.selected-button:visited,
a.selected-button:hover
{
    background-color:green ;
}

.mddialog .wmd-button-row {
    position: relative;
    margin: 0;
    padding: 0px;
    height: 20px;
}
.mddialog-inline-buttonbar{
    width: 100%;
    background-color: #fff;
    height:20px;
    margin:0;
    padding:0;
}
.mddialog .wmd-spacer {
    width: 1px;
    height: 20px;
    margin-left: 14px;
    position: absolute;
    background-color: Silver;
    display: inline-block;
    list-style: none;
}

.mddialog .wmd-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    position: absolute;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

    .mddialog .wmd-button > span {
        background-image: url(images/wmd-buttons.png);
        background-repeat: no-repeat;
        background-position: 0px 0px;
        width: 20px;
        height: 20px;
        display: inline-block;
    }

.mddialog .wmd-spacer1 {
    left: 50px;
}

.mddialog .wmd-spacer2 {
    left: 175px;
}

.mddialog .wmd-spacer3 {
    left: 300px;
}


/* Input Text Area */
.mddialog .wmd-input {
    height: 300px;
    width: 100%;
    background-color: #ddd;
    border: 0;
}


.mddialog div.text-area-wrapper {
    position: absolute;
    left: 0px;
    top: 40px;
    right: 0px;
    bottom: 41px;
    border: none;
}

.mddialog textarea.markdown-dialog {
    height: 100% !important;
    margin: 0; /* don't want to add to container size */
    border: 0; /* don't want to add to container size */
    resize: none;
    float:left;
    padding:0;
}


.inside-dialog-preview {
    width:50%;
    background-color: lightgray;
    height:100% !important;
    float:right;
    margin:0;
    padding:0;
    border:0;
    overflow:auto;
}

/* close Button */
.mddialog .bottom-button-bar {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: none;
    height:40px;
    background-color:#333333;
}
.mddialog a.bottom-close:link,
.mddialog a.bottom-close:visited  {
    display:block;
    height:26px;
    float:right;
    margin-right:0px;
    background-color:#333333;
    color:#fff;
    padding:6px 18px 7px 18px;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.50);
    border-left: solid 1px #000;
    
}
.mddialog a.bottom-close:hover {
    background-color:#484b40;
    text-decoration:none;
}

/* Prompt for hyperlinks */
.wmd-prompt-background {
    background-color: Black;
}

.wmd-prompt-dialog {
    border: 1px solid #999999;
    background-color: #F5F5F5;
    z-index: 9999;
}

    .wmd-prompt-dialog > div {
        font-size: 0.8em;
        font-family: arial, helvetica, sans-serif;
    }

    .wmd-prompt-dialog > form > input[type="text"] {
        border: 1px solid #999999;
        color: black;
    }

    .wmd-prompt-dialog > form > input[type="button"] {
        border: 1px solid #888888;
        font-family: trebuchet MS, helvetica, sans-serif;
        font-size: 0.8em;
        font-weight: bold;
    }

/* settting colorbox index so that it appears over the markdown dialog */
#colorbox{
    z-index:10004!important;    
}


/* customizing jquery UI dialog */

.mddialog.ui-dialog .ui-dialog-content {
    padding: 0;
    margin:0;
}

.mddialog.ui-widget-content {
    background: #FFFFFF;
    border: 1px solid #c2c2c2;
    color: #222222;
}

.mddialog.ui-widget {
    font-family: Tahoma,"Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 12px;
}

.mddialog.ui-dialog {
    left: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    width: 300px;
    border: 1px solid #333 !important;
}
.mddialog.ui-dialog .ui-dialog-title {
    font-size:14px;
    padding-top:6px;
}

.mddialog .ui-widget-header {
    background: none #d0f0ff;
    color: #fff;
    font-weight: bold;
    font-weight: 100;
    height:29px;
}

.mddialog.ui-corner-all, .mddialog .ui-corner-all, .mddialog.ui-corner-bottom, .mddialog.ui-corner-right, .mddialog.ui-corner-br {
    border-bottom-right-radius: 0px;
}

.mddialog.ui-corner-all, .mddialog .ui-corner-all, .mddialog.ui-corner-bottom, .mddialog.ui-corner-left, .mddialog.ui-corner-bl {
    border-bottom-left-radius: 0px;
}

.mddialog.ui-corner-all, .mddialog .ui-corner-all, .mddialog.ui-corner-top, .mddialog.ui-corner-right, .mddialog.ui-corner-tr {
    border-top-right-radius: 0px;
}

.mddialog.ui-corner-all, .mddialog .ui-corner-all, .mddialog.ui-corner-top, .mddialog.ui-corner-left, .mddialog.ui-corner-tl {
    border-top-left-radius: 0px;
}

.mddialog .ui-dialog-titlebar {
    padding: 6px 0px 6px 10px;
    position: relative;
    border: none;
    background-color:#333;
}

.mddialog .ui-dialog-titlebar-close,
.mddialog .ui-dialog-titlebar-maximize,
.mddialog .ui-dialog-titlebar-restore {
    background: none #333;
    width:50px !important;
    top:-15px !important;
    border:none !important;
    height:45px !important;
    position: absolute !important;
    border-left: solid 1px black !important;
    padding:0;
}
.mddialog .ui-dialog-titlebar-close{
    right:-4px!important;
}

.mddialog .ui-dialog-titlebar-maximize,
.mddialog .ui-dialog-titlebar-restore {
    right:47px!important;
}

/* Close button should not have a border */
.mddialog .ui-widget-header .ui-state-hover,
.mddialog .ui-state-focus,
.mddialog .ui-widget-content .ui-state-focus,
.mddialog .ui-widget-header .ui-state-focus {
    background-color:#484b40;    
}

.mddialog .ui-icon-fa-plus {    
    background: url("images/icon-maxim-dialog.gif") no-repeat 0 0 transparent !important;
    margin:14px 0px 0px 16px !important;
}

.mddialog .ui-icon-fa-minus {    
    background: url("images/icon-restore-dialog.gif") no-repeat 0 0 transparent !important;
    margin:14px 0px 0px 16px !important;
}

.mddialog .ui-icon-fa-remove {    
    background: url("images/icon-close-dialog.gif") no-repeat 0 0 transparent !important;
    margin:14px 0px 0px 16px !important;
}
